#abgne-block-20110406 ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#abgne-block-20110406 a.prev, #abgne-block-20110406 a.next {
	position: absolute;
	top: 270px;
	display: block;
	width: 60px;	/* 左右鈕圖片的寬 */
	height: 60px;	/* 左右鈕圖片的高 */
	text-indent: -9999px;
}

#abgne-block-20110406 .prev {
	background: url('../images/team/left.png') no-repeat;
  left: 20px;
}

#abgne-block-20110406 .next {
	background: url('../images/team/right.png') no-repeat;
	right: 20px;
}
#abgne-block-20110406 {
	margin: 0 auto;
	width: 100%;	/* 框架圖片的寬 */
	height: 640px;	/* 框架圖片的高 */
	position: relative;
}
#abgne-block-20110406 .slides {
	overflow: hidden;
	position: relative;
	width: 100%;	/* 框架中間區塊的寬 */
	height: 100%;	/* 框架中間區塊的高 */
}
#abgne-block-20110406 .slides ul {
	position: absolute;
	width: 9990px;
	height: 100%;
}
#abgne-block-20110406 .slides li {
	width: 1280px;	/* 框架中間區塊的寬 */
	height: 640px;
	float: left;
}
#abgne-block-20110406 img{
	margin-top: -1%;
  width: 100%;
  height: 105%;
}
